header {
	.navbar {
		border-radius: 0;
		margin: 0;
	}
}

#menu {
	a::before {
		@extend .fa;
		margin-right: 0.5rem;
		min-width: 15px;
	}

	a.main::before {
		@extend .fa-desktop:before;
	}

	a.slides::before,
	a.image::before {
		@extend .fa-picture-o:before;
	}

	a.queues::before {
		@extend .fa-folder-open:before;
	}

	a.maintenance::before {
		@extend .fa-wrench:before;
	}

	a.text::before {
		@extend .fa-font:before;
	}

	a.url::before {
		@extend .fa-cloud:before;
	}

	a.video::before {
		@extend .fa-video-camera:before;
	}
}
