header {
	.navbar-default {
		background: transparent;
		box-shadow: none;
		border: none;
		margin-bottom: 0;
	}
}

body {
	background-image: linear-gradient(to bottom, #ffc 0%, #ffe 100%);
	background-size: 100% 50px;
	background-repeat: no-repeat;
}

#menu {
	a::before {
		@extend .fa;
		margin-right: 0.5rem;
		min-width: 15px;
	}

	a.main::before {
		@extend .fa-desktop:before;
	}

	a.slides::before,
	a.image::before {
		@extend .fa-picture-o:before;
	}

	a.queues::before {
		@extend .fa-folder-open:before;
	}

	a.maintenance::before {
		@extend .fa-wrench:before;
	}

	a.text::before {
		@extend .fa-font:before;
	}

	a.url::before {
		@extend .fa-cloud:before;
	}

	a.video::before {
		@extend .fa-video-camera:before;
	}
}
