$fa-font-path:        "../fonts";
$icon-font-path:      "../fonts/";

$nav-tabs-border-color: #000;
$nav-tabs-active-link-hover-border-color: #000;


$navbar-default-bg: #ffc;
$navbar-inverse-bg: #ffc;
