@import 'variables';
@import 'bootstrap';
@import "bootstrap/theme";
@import "font-awesome";
@import "common";
@import "configurator";

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 10px;
}

.mono {
	font-family:	monospace;
	background:	#ccc;
	padding:	5px;
}

#motd {
	border:		3px solid red;
	text-align:	center;
	padding:	1em;
}

#breadcrumb {
	font-size: 0.4em;
	color: #aaa;
}

#breadcrumb a {
	color: #aaa;
}

.nav-tabs > li > a {
	background: #f7f7f7;
	border-bottom-color: $nav-tabs-border-color;
}

#bar {
	font-size: 12px;
}

#menu {
	li {
		i {
			@extend .fa;
		}

		&.main i {
			@extend .fa-desktop;
		}

		&.slides i {
			@extend .fa-picture-o;
		}

		&.queues i {
			@extend .fa-folder-open;
		}

		&.maintenance i {
			@extend .fa-wrench;
		}
	}
}

.daemonstatus {
	float: right;
	display: block;
	border-radius: 4px 4px 0 0;
	line-height: 1.42857;
	border: 1px solid $nav-tabs-border-color;
	border-bottom: 0;
	padding: 10px 15px;
	white-space: nowrap;
	background: white;
}

#content {
	clear:both;
	background: white;
	padding: 10px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#content fieldset {
	margin: 0 2px;
	padding: 5px 10px 12px 10px;
}

#content p {
	margin: 16px 0;
}

#content ul {
	padding-left: 40px;
}

#content .folding {
	text-decoration: none;
	color: #000;
	padding-left: 16px;
}

#content .fold-expanded {
	background: url('/static/icon/bullet_toggle_minus.png');
	background-position: 0 6px;
	background-repeat: no-repeat;
}

#content .fold-collapsed {
	background: url('/static/icon/bullet_toggle_plus.png');
	background-position: 0 6px;
	background-repeat: no-repeat;
}

#content .assembler legend {
	font-size: 1.3em;
	font-weight: bold;
}

.queuewrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 0px 10px 10px 10px;
}

.queuewrapper .title {
	margin: 0 0 0 10px;
	padding: 0 7px;
	background: white;
	position: relative; top: -10px;
	display: inline;
	font-size: 0.9em;
	font-family: sans-serif;
}

.queuewrapper .title a {
	color: #00e;
}

.queue {
	float: left;
	width: 100%;
	min-height: 50px;
}

.queue.hover {
	background: #ccc;
}

.slide {
	float: left;

	margin-right: 10px;
	padding: 0;
	border:1px solid #aaa;
}

.slide img {
	cursor:		move;
}

.disabled {
}

.disabled .preview {
	background: url('images/ui-bg_diagonals-thick_20_666666_40x40.png');
}

.disabled img {
	opacity: 0.2;
}

.disabled .hide {
	display: none;
}

.disabled .show {
	display: inline !important;
}

.slide .menu {
	padding: 5px;

	font-size: 0.7em;
	font-family: sans-serif;
}

.slide .menu a {
	text-decoration: none;
	color: #00f;
}

.slide .menu a:hover {
	text-decoration: underline;
}

.slide .zoom {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/zoom.png') no-repeat center left;
}

.slide .play {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/control_play_blue.png') no-repeat center left;
}

.slide .edit {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/page_white_edit.png') no-repeat center left;
}

.slide .hide {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/picture_empty.png') no-repeat center left;
  /* display is controlled by .disabled */
}

.slide .show {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/picture.png') no-repeat center left;
  display: none; /* overridden by .disabled */
}

.slide .delete {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/delete.png') no-repeat center left;
}

.slide_placeholder {
	border: 3px dashed #666;
	float: left;
	height: 227px;
	width: 200px;
	margin-right: 10px;
}

#log .fatal {
		color: red;
		font-weight: bold;
}

#log .warning {
		color: yellow;
		font-weight: bold;
}

#delete_dialog {
	text-align: right;
}

#assembler_text {
	img {
		max-width: 100%;
	}

	p.help {
		font-size: 0.8em;
	}
}

.actions {
	@extend .clearfix;
}
