<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:py="http://genshi.edgewall.org/" py:strip="">

	<py:match path="head" once="true">
	<head py:attrs="select('@*')">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/slideshow.min.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/static/css/jquery-ui-1.11.4.css" type="text/css" media="screen" />
		<script src="/static/js/libs.min.js" type="text/javascript"></script>
		<script src="/static/js/jquery-ui-1.11.4.min.js" type="text/javascript"></script>
		<script src="/static/js/jquery.jeditable.js" type="text/javascript"></script>
		<script src="/static/js/slideshow.min.js" type="text/javascript"></script>
		<title py:with="title = list(select('title/text()'))">Slideshow<py:if test="title"> &gt; ${title}</py:if></title>
		${select('*[local-name()!="title"]')}
	</head>
	</py:match>

	<?python from slideshow.settings import Settings ?>

	<py:match path="body" once="true">
		<body py:attrs="select('@*')" ng-app="slideshow" ng-strict-di="">
			<header ng-controller="StatusController as vm">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">${Settings()['Slideshow.Title']}</a>
						</div>


						<?python
						def menu_attr(item, *args):
							if item == parent:
								return {'class': ' '.join(['active'] + list(args))}
							else:
								return {'class': ' '.join(list(args))}
						?>
						<div class="collapse navbar-collapse" id="navbar">
							<ul id="menu" class="nav navbar-nav">
								<li py:attrs="menu_attr('main')"><a href="/" class="main">Main</a></li>
								<li py:attrs="menu_attr('slides', 'dropdown')">
									<a class="dropdown-toggle slides" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Slides <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li py:for="assembler in assemblers">
											<a href="/slides/upload#/${assembler.name}" class="${assembler.name}">${assembler.title()}</a>
										</li>
									</ul>
								</li>
								<li py:attrs="menu_attr('queues')"><a href="/queue" class="queues">Queues</a></li>
								<li py:attrs="menu_attr('maintenance')"><a href="/maintenance" class="maintenance">Maintenance</a></li>
							</ul>

							<p class="navbar-text navbar-right daemonstatus" ng-class="vm.stateClass">Status: <strong>{{vm.stateName}}</strong></p>
						</div>
					</div>
				</nav>
			</header>

			<main>
				<py:if test="flash is not None">
					<div py:for="severity, message in flash" class="alert alert-${severity}">${message}</div>
				</py:if>

				${select('*|text()')}
			</main>

			<footer>
				<p py:if="username is not None">Logged in as ${username} (<a href="/logout">logout</a>)</p>
				<p>Powered by <a href="http://ext.github.com/slideshow">Slideshow 0.5.0</a></p>
			</footer>
		</body>
	</py:match>
</html>
