<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="en">
	<xi:include href="../index.html" />

<head>
	<title>Queue</title>

	<script type="text/javascript">// <![CDATA[

	$.editable.addInputType('rename', {
		element : function(settings, original) {
			var input = $('<input />');

			$(this).append(input);
			return(input);
		},
		buttons: function(settings, original) {
			var submit = $('<button type="submit" />');
			submit.html(settings.submit);

			var cancel = $('<button type="cancel" />').click(function(event) {
				original.reset();
				return false;
			});
			cancel.html(settings.cancel);

			var remove = $('<button type="remove" />').click(function(event) {
				original.reset();

				$.getJSON('/queue/ajax/remove/' + original.id.substr(6), function(success) {
					if ( success ){
						$(original.parentNode).remove();
					}
				});

				return false;
			});
			remove.html(settings.remove);

			$(this).append(submit);
			$(this).append(cancel);
			$(this).append(remove);
		}
	});

		/* glue between angular and jquery.editable */
		angular.module('slideshow').directive('editable', function(){
			return {
				restrict: 'A',
				scope: {
					readonly: '=',
				},
				link: function(scope, elem){
					if ( scope.readonly ) return;

					elem.editable('/queue/ajax/rename', {
						type : 'rename',
						tooltip   : "Click to edit...",
						cancel    : 'Cancel',
						submit    : 'OK',
						remove    : 'Remove',
						style     : 'display: inline'
					});
				},
			};
		});

	// ]]></script>

</head>

<body ng-controller="QueueManagerController as vm">
	<h2>Manage queues</h2>

	<ul class="queue-list">
		<li ng-repeat="item in vm.queue | orderBy:'id'" ng-class="{'readonly': item.readonly}">
			<i></i> <span editable="" readonly="item.readonly" id="queue_{{item.id}}">{{item.name}}</span>
		</li>
	</ul>

	<div class="row">
		<div class="col-sm-6">
			<form name="createForm" ng-submit="vm.create(createForm)">
				<fieldset ng-disabled="vm.saving">
					<legend>Create new queue</legend>
					<label class="control-label">Name</label>
					<div class="input-group">
						<input class="form-control" type="text" name="name" ng-model="vm.name" required="required" />
						<span class="input-group-btn">
							<button class="btn btn-default" name="submit" type="submit" ng-disabled="vm.saving">Create</button>
						</span>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

</body>

</html>
