<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="en">
	<xi:include href="../index.html" />

	<head>
		<title>Configuration</title>
	</head>

	<body id="configurator" ng-controller="ConfigurationController as vm">
		<h2>Configuration</h2>

		<div class="row">
			<div class="col-lg-8">
				<form name="configuration" ng-submit="vm.submit(configuration)">
					<configuration-group name="${group.name}" py:for="group in settings" py:if="not group.hidden">
						<div class="col-sm-6 col-sm-push-6">
							<div class="alert alert-info" py:for="desc, attr in group.description" py:attrs="attr">${Markup(desc)}</div>
						</div>

						<div class="col-sm-6 col-sm-pull-6">
							<py:for each="item in group">
								${Markup(item)}
							</py:for>
						</div>
					</configuration-group>

					<configuration-group name="Environmental variables">
						<div class="col-sm-6 col-sm-push-6">
							<div class="alert alert-info">
								Place each variable in the form key=value with each variable
								on a separate line. Note that SLIDESHOW_ will be prepended
								to each variable to prevent abuse.
							</div>
						</div>

						<div class="col-sm-6 col-sm-pull-6">
							<div class="form-group">
								<label class="control-label">Enviroment</label>
								<textarea class="form-control" name="Env" configuration-environment="" ng-model="vm.configuration.Env"></textarea>
							</div>
						</div>
					</configuration-group>

					<div class="clearfix">
						<a class="btn btn-default pull-left" href="/maintenance">Cancel</a>
						<button class="btn btn-primary pull-right" type="submit">Save</button>
					</div>
				</form>
			</div>
		</div>
	</body>

</html>
