<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="en">
	<xi:include href="../index.html" />

	<head></head>

<body ng-controller="MaintenanceController as vm">
	<div id="rebuild-dialog" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Rebuild cache</h4>
				</div>
				<div class="modal-body" ng-if="vm.rebuilding === 0">
					<p>
						<span class="fa-stack fa-lg">
							<i class="fa fa-square fa-stack-2x"></i>
							<i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
						</span>
						<strong>Warning!</strong>
					</p>
					<p>This will rerasterize all slides with the configured default theme. This can be an expensive operation depending on the number of slides.</p>
				</div>
				<div class="modal-body" ng-if="vm.rebuilding === 1">
					<p>Rebuild in progress</p>
					<progress value="{{vm.cache.value}}" max="{{vm.cache.max}}"></progress>
				</div>
				<div class="modal-body" ng-if="vm.rebuilding === 2">
					<p>Rebuild complete</p>
					<progress value="{{vm.cache.value}}" max="{{vm.cache.max}}"></progress>
				</div>
				<div class="modal-footer">
					<div ng-if="vm.rebuilding !== 2">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="vm.rebuilding !== 0">Cancel</button>
						<button type="button" class="btn btn-danger" ng-click="vm.rebuildCache()" ng-disabled="vm.rebuilding !== 0">Rebuild</button>
					</div>
					<div ng-if="vm.rebuilding === 2">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>Maintenance</h2>

	<div ng-if="vm.state == 'crashed'">
		<p>The slideshow daemon crashed. Please follow these steps: </p>
		<ol>
			<li>Download the <a href="/maintenance/coredump">coredump</a>.</li>
			<li>
				File a ticket at <a href="http://sidvind.com:8000/slideshow">http://sidvind.com:8000/slideshow</a>.
				<ul>
					<li>Include the latest entries from the log with debug entries.</li>
					<li>Attach the coredump.</li>
					<li>(You can skip most of the fields in ticket properties)</li>
				</ul>
			</li>
			<li>Go bug <a href="mailto:ext@sidvind.com">ext</a> about it.</li>
			<li><a href="/maintenance/reset">Reset</a>.</li>
		</ol>
	</div>

	<h3>Menu</h3>
	<ul>
		<li ng-if="vm.state == 'stopped'"><a href="/maintenance/start">Start daemon</a> (<a href="/maintenance/start?resolution=800x600&amp;fullscreen=0">windowed</a>)</li>
		<li ng-if="vm.state == 'running'"><a href="/maintenance/stop">Stop daemon</a></li>
		<li ng-if="vm.state == 'running'"><a href="/maintenance/reload">Reload daemon</a></li>
		<li><a href="" ng-click="vm.rebuildConfirm()">Rebuild cache</a></li>
		<li><a href="/maintenance/config">Configuration</a></li>
	</ul>

	<h3>Log</h3>
	<div id="log" class="mono">
		<pre><span ng-repeat="item in vm.log" class="{{vm.severityClass(item.severity)}}">{{item.message}}
</span></pre>
	</div>

	<h3>Debug</h3>
	<div id="debug" class="mono">
		<p>
			CWD: ${cwd}<br/>
			ENV: ${' '.join(['%s=%s' % (k,v) for k,v in env.items()])}<br/>
			CMD: ${cmd} ${' '.join(args)}<br/>
		</p>
	</div>
</body>

</html>
