<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="en">
	<xi:include href="../index.html" />

	<head>
		<script type="text/javascript">
		 var queues = [ ${', '.join(['"#%s"' % q.div for q in queues])} ];
		 var active = "${'#' + active.div}";
		 var notice_visible = ${len(active) == 0 and 'true' or 'false'};
		</script>
	</head>

	<body>
		<h2>Current slides</h2>

		<div id="delete_dialog" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Are you sure you want to delete the slide?</h4>
					</div>
					<div class="modal-body">
						<img src="" alt="" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-danger" id="delete_confirm">Delete</button>
					</div>
				</div>
			</div>
		</div>

		<?python empty_queue = active.id == 0 or len(active) == 0 ?>
		<div id="empty_notice" class="alert alert-danger" py:attrs="{'style': 'display:' + (empty_queue and 'block' or 'none')}">
			The current active queue is empty. You can create some slides and move them into the active queue.
		</div>

		<div class="row">
			<div id="other_queue" class="col-md-6">
				<h2>Available</h2>
				<py:for each="queue in [x for x in queues if x.id != active.id]">
					<xi:include href="_queue.html" />
				</py:for>
			</div>
			<div id="active_queue" class="col-md-6">
				<h2>Active</h2>
				<?python queue = active ?>
				<xi:include href="_queue.html" />
			</div>
		</div>
	</body>
</html>
