<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="en">
	<xi:include href="../index.html" />

	<head>
		<script type="text/javascript">
		 var queues = [ ${', '.join(['"#%s"' % q.div for q in queues])} ];
		 var active = "${'#' + active.div}";
		 var notice_visible = ${len(active) == 0 and 'true' or 'false'};
		</script>
	</head>

	<body>
		<div id="delete_dialog" title="Are you sure you want to delete ...?" style="display:none;">
			<img src="" alt="" />
			<button id="delete_confirm">Delete</button> <button id="delete_cancel">Cancel</button>
		</div>

		<?python empty_queue = active.id == 0 or len(active) == 0 ?>
		<div id="empty_notice" class="notice" py:attrs="{'style': 'display:' + (empty_queue and 'block' or 'none')}">
			The current active queue is empty. You can create some slides and move them into the active queue.
		</div>

		<div id="active_queue">
			<h2>Active</h2>
			<?python queue = active ?>
			<xi:include href="_queue.html" />
		</div>

		<div id="other_queue">
			<h2>Available</h2>

			<py:for each="queue in [x for x in queues if x.id != active.id]">
				<xi:include href="_queue.html" />
			</py:for>
		</div>
	</body>
</html>
